<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <script>
    function showAnswer(param) {
      console.log(param)
      var x = document.getElementById(param);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

<!-- This is where the navigation bar is rendered -->
</head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'trivia-home' %}">Jeopardy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'trivia-categories' %}">Categories</a>
          <a class="nav-item nav-link" href="https://github.com/JShimonov/Capital-One-App">About</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- This is where the search features is rendered -->
  <main role="main" style="background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)">

    <section class="jumbotron text-center" style="background-image: linear-gradient(141deg, #9fb8ad 10%, #1fc8db 61%, #2cb5e8 85%); margin-bottom: 0px; padding-bottom: 48px; padding-top: 48px;">
      <div class="container" style="text-align:center">
        <h1 class="jumbotron-heading">Welcome to Jeopardy</h1>
        <p class="lead text-muted">Find all the trivia questions that you are looking for all in one spot</p>

        <!-- Search function(s) put here -->
        <form method="POST">
          {% csrf_token %}
          <input name="Category" placeholder="Search Categories" style="width:100%; max-width:600px;">
          <br>
          <br>
          <label for="start">Start date:</label>
          <input type="date" id="start" name="airdate-start" value="2000-07-22" min="1965-01-01" max="2012-12-31">

          <br>
          <label for="end">End date:</label>
          <input type="date" id="end" name="airdate-end" value="2010-08-22" min="1965-01-07" max="2012-12-31">
          <br>
          <select name="Difficulty" style="text-align:center">
            <option value="Easy">Easy</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Difficult">Difficult</option>
          </select>
          <br> <br>

         <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>

      </div>
    </section>

    <!-- This is where all the other content is rendered (if called) -->
    {% block content %}{% endblock %}

  </main>

  <footer class="text-muted">
    <div class="container text-center">
      <p>© Joseph Shimonov {% now "Y" %}</p>
      </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </html>
