{% extends "trivia/base.html" %}

{% block content %}
  <h1 style="text-align:center">Categories Page</h1>

  <div class="album py-5 bg-dark" style="border-radius:40px">
    <div class="container">
        <!-- categories: id, title, clues_count-->
        {% for categ in categories %}

          <div class="card mb-3 shadow-sm" style="border-radius:20px">
            <div class="card-body">
              <p class="card-text" style="text-align:center">ID: {{ categ.id }}</p>
              <p class="card-text" style="text-align:center">Category: {{ categ.title }}</p>

              <p class="card-text" style="text-align:center">Clues Count: {{ categ.clues_count }}</p>
            </div>
          </div>

        {% endfor %}
    </div>
  </div>


{% endblock content %}

<a href="{% url 'trivia-home' %}">Return to Home Page</a>
